* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: black;
    font-family: 'Times New Roman';
}

body{
    background-color: white;
}


/*---------This CSS is for header------------------     */

.header,
.navbar ul,
.login ul {
    display: flex;
    
}

.logo {
    font-size: 23px;
}

.navbar ul li,
.login ul li {
    margin-left: 22px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a { 
    text-decoration: none;
    color: black;
}

.login ul li {
    list-style: none;
}

.login ul li a {
    text-decoration: none;
}

.header {
    height: 12vh;
    background-color: #C9E7F2;
    justify-content: space-around;
    align-items: center;
}

.start-free a {
    background-color: rgb(38, 0, 255);
    padding: 8px;
    color: white;
}


/*---------------This CSS is for Home----------      */
.home{
    display: flex;
    justify-content: space-around;
    background-color: #C9E7F2;
   
    
}
.home-info{
    margin-top: 20vh;
    margin-left: 9vw
}

.home-info h3{
    font-size: 60px;
}

.home-info p{
    margin-top: 22px;
   font-size: 20px;
}
.home-buttons{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    height: 43px;
    width: 8vw;
    border-radius: 22px;
}

.btn-1 a{
    text-decoration: none;
    color: white;
}

.home-img img{
    height: 74%; 
}

.btn-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    width: 47px;
    height: 47px;
    background-color: #22D497;
    border-radius: 50%;
}
.home-buttons p{
    margin-left: 8px;
  margin-bottom: 18px;
  color: blue;

}

/*------------------------------------------------------- */


