* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: black;
    font-family: 'Times New Roman';
}

body{
    background-color: white;
}


/*---------This CSS is for header------------------     */

.header,
.navbar ul,
.login ul {
    display: flex;
    
}

.logo {
    font-size: 23px;
}

.navbar ul li,
.login ul li {
    margin-left: 22px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a { 
    text-decoration: none;
    color: black;
}

.login ul li {
    list-style: none;
}

.login ul li a {
    text-decoration: none;
}

.header {
    height: 12vh;
    background: rgb(201,231,242);
background: linear-gradient(90deg, rgba(201,231,242,1) 40%, rgba(98,186,218,1) 100%);
    justify-content: space-around;
    align-items: center;
    /* position:fixed; */
    width: 100%;
}

.start-free a {
    background-color: rgb(38, 0, 255);
    padding: 8px;
    color: white;
}


/*---------------This CSS is for Home----------      */
.home {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(201, 231, 242, 1) 40%, rgba(98, 186, 218, 1) 100%);
    height: 90vh;
}

.home-info {
    margin-top: 20vh; /* Adjust this margin as needed */
    margin-left: 9vw; /* Adjust this margin as needed */
}

.home-info h3 {
    font-size: 60px;
}

.home-info p {
    margin-top: 22px;
    font-size: 20px;
}

.home-buttons {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    height: 43px;
    width: 8vw;
    border-radius: 22px;
}

.btn-1 a {
    text-decoration: none;
    color: white;
}

.home-img img {
    height: 90vh; /* Ensure the image height is not fixed, adjust as needed */
    max-width: 100%; /* Ensure the image width adjusts responsively */
}

.btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    width: 47px;
    height: 47px;
    background-color: #22D497;
    border-radius: 50%;
}

.home-buttons p {
    margin-left: 8px;
    margin-bottom: 18px;
    color: blue;
}

.home-btn-offer {
    margin-top: 33px;
    display: flex;
}

.home-btn-offer h5 {
    margin-top: 4px;
    font-size: 14px;
}

.home-btn-offer box-icon {
    margin-left: 19px;
}

/*------------------------------------------------------- */

.about{
    padding: 50px 30px ;
    background-color: #F5F6F8;
}

.about-business h4{
    display: flex;
    justify-content: center;
    font-size: 26px;
}
.about-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.about-logos img{
    height: 16%;
    width: 12%;
    margin-left: 20px;
}



/*-----------------CSS for about-statement ---------------- */

.about-statement{
    background-color: rgb(255, 255, 255);
    padding: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-statement-left h3{
    font-size: 46px;
}
.about-statement-left p{
    margin-top: 3vh;
    font-size: 16px;
}
.about-statement-right {
    display: flex;
    justify-content: center;
    margin-top: 12vh; 
}

.stat-box {
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: #C4C4C4;
    padding: 38px;
    position: relative; 
}
.stat-box p {
    color: black;

}

.quotes{
    position: absolute;
    top: -23px; 
    left: 16%; 
    transform: translateX(-50%); /* Center horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    height: 50px; 
    width: 50px; 
    z-index: 100;
}

/*---------------------------------------------------------     */
.feature-cards {
    justify-content: space-around;
    display: flex;
    gap: 20px;
}

.info-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

    padding: 20px;
    text-align: center;
    width: 400px;
    height: 40vh;
}

.card-number {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    flex-direction: left;
}

.card-icon {
    width: 40px;
    height: 40px;
    margin: 10px auto;
    border-radius: 5px;
    background-size: cover;
}

#icon-1 {
    background-color: #000;
}

#icon-2 {
    background-color: #ff7f50;
}

#icon-3 {
    background-color: #ffd700;
}

h3 {
    font-size: 24px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    color: #777;
}


/* ----------------------------------------- */

.facilitites{
    justify-content: space-around;
    display: flex;
    padding: 40px;
    margin-right: 50px;
    margin-top: 40px;
    
}

.people-notifications img{
    height: 80%;
}
.some-benefits{
    padding: 40px;
}
.some-benefits hr{
    margin-top: 30px;
}
.some-benefits h3{
    font-size: 45px;
}
.additional-features li{
    margin-top: 6px;
    display: flex;
    list-style: none;
    align-items: center;
}

          /* ----------------------------------------- */

.choose-why{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 90px;
}
.choose-detail h6{
    color: blue;
    font-size: 14px;  
}

.choose-detail h2{
    font-size: 50px;
}
.choose-detail p{
    margin-top: 16px;
    font-size: 18;
    color: #505887;
}


.statement-box {
    color: black;
    margin-top: 40px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    background-color: #C4C4C4;
    padding: 20px;
    position: relative; 
}
.statement-box p{
    color: rgb(0, 0, 0);
    margin-top: 8px;
}
.Quotation {
    position: absolute;
    top: -21px; 
    left: 11%; 
    transform: translateX(-50%); /* Center horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    height: 40px; 
    width: 40px; 
    z-index: 100;
}
.choose-box img{
    padding: 30px;
}


/* ----------------------- */
.feature-mind-blowing {
    background-color: #C9E7F2;
}

.feature-headings {
    padding: 60px;
}

.feature-headings h2 {
    font-size: 50px;
}
 
.feature-headings p {
    margin-left: 3px;
    margin-top: 22px;
    font-size: 14px;
    color: black;
}

.features-boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 89px 89px 89px ;
}

.feature-box {
    height: 40vh;
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 22px;
    padding: 25px;
    width: 24vw;
}

.feature-box h4 {
    margin-top: 25px;
}

.feature-box p {
    margin-top: 21px;
    color: black;
}

.feature-box img {
    height: 17%;
    width: 15%;
}

.sm-box {
    flex: 1;
    padding: 45px;
    background-color: #ffffff;
    margin-top: 23px;
    border-radius: 6px;
}



.feature-box .sm-box h4 {
    color: black;
}

.feature-box-new{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* -------------------------------------------------------- */

.testimonials-heading h3{
    font-size: 50px;
}
p{
    color: black;
}

.testimonials-heading{
    margin-left: 55px;
    padding: 60px;
}



.testimonials-info {
    padding: 30px;
    display: flex;
    justify-content: center; /* Center the testimonials */
    gap: 120px; /* Reduced gap between testimonials */
}

.testimonials-quotes {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: #fff;
    position: relative;
}

.quote-image img {
    padding: 14px;
    height: auto;
    max-width: 140px; 
}

.quote-text {
    margin-top: 22px;
}

.quote-text h3 {
    font-size: 20px;
}

.quote-text p {
    margin-top: 10px;
    font-size: 16px;
    color: gray;
}



/*------------------Users Data---------------------------- */
.Our-Subscriber{
    background-color: #3734A9;
    display: flex;
    justify-content: space-around;
    align-items: center;
  

}
.Our-statistics p{
    color: white;
}
.Our-Subscriber h2{
    color: white;
    font-size: 50px;
}


.vertical-line {
    position: relative;
    border-left: 2px solid black; /* Change color and width as needed */
    height: 100px; /* Set the height of the line */
}

.subscriber-info{
    display: flex;
    margin-top: 8px;
}



.subscriber-info p{
    margin-left: 12px;
    color: white;
}

.subsciber-full-info{
    align-items: center;
    justify-content: space-around;
    display: flex;
    gap: 90px;
    margin-right: 9vw;
    padding: 30px;
    
}

/* --------------------Get started now------------------------------ */
.full-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    height: 50vh;
    border-radius: 14px;
    background-color: blue;
}
.get-start-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.get-start-content h2{
    font-size: 42px;
    color: white;
}
.get-started-now{
    padding: 90px;
}
.get-start-button {
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF7F5C;
    width: 12vw;
    height: 7vh;
    border-radius: 6px;
}
.get-start-button a {
    color: white;
    text-decoration: none;
}













/* ------------------footer------------------------------- */


.footer-content {
    display: flex;
}


.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Align items at the top */
    padding: 30px;
}



.social-media a {
    margin-left: 6px;
}

.social-links ul li,
.resource-links ul li {
    list-style: none;
    margin-top: 9px;
}


.social-links ul li a,
.resource-links ul li a {
    text-decoration: none;
}

.subscription-btn {
    display: grid;
    grid-template-columns: auto 100px;
    width: 80%;
    height: 33px;
    margin-top: 1.2rem;
}
.social-media p{
    margin-top: 12px;
}
.social-media h4,
.social-links h4,
.resource-links h4,
.subscription h4{
    font-size: 20px;
}
.social-media-links{
    margin-top: 12px;
}
.social-media-links box-icon{
    margin-left: 7px;
}
.input-form {
    border: none;
    background-color: #3734A9;
    color: white;
}

.subscription p {
    margin-top: 17px;
}
