* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: black;
    font-family: 'Times New Roman';
}

body{
    background-color: white;
}


/*---------This CSS is for header------------------     */

.header,
.navbar ul,
.login ul {
    display: flex;
    
    
}

.logo {
    font-size: 20px;
}
.logo h5{
    font-size: 22px;
}

.navbar ul li,
.login ul li {
    margin-left: 22px;
    font-size:20px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a { 
    text-decoration: none;
    color: black;
}

.login ul li {
    font-size:20px;
    list-style: none;
}

.login ul li a {
    text-decoration: none;
}

.header {
    height: 12vh;
    background: rgb(201,231,242);
background: linear-gradient(90deg, rgba(201,231,242,1) 40%, rgba(98,186,218,1) 100%);
    justify-content: space-around;
    align-items: center;
    /* position:fixed; */
    width: 100%;
}

.start-free a {
    background-color: rgb(38, 0, 255);
    padding: 8px;
    color: white;
}


/*---------------This CSS is for Home----------      */
.home {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(201, 231, 242, 1) 40%, rgba(98, 186, 218, 1) 100%);
    height: 90vh;
}

.home-info {
    margin: 14vh 0 0 9vw;

}

.home-info h3 {
    font-family:'Manrope';
    font-size: 57px;
    font-weight: 12000;
    
}

.home-info p {
    color: black;
    margin-top: 22px;
    font-size: 20px;
}

.home-buttons {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    height: 43px;
    width: 8vw;
    border-radius: 22px;
}

.btn-1 a {
    text-decoration: none;
    color: white;
}

.home-img img {
    height: 90vh; 
    max-width: 100%; 
}

.btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    width: 47px;
    height: 47px;
    background-color: #22D497;
    border-radius: 50%;
}

.home-buttons p {
    margin-left: 8px;
    margin-bottom: 18px;
    color: blue;
}

.home-btn-offer {
    margin-top: 33px;
    display: flex;
}

.home-btn-offer h5 {
    margin-top: 4px;
    font-size: 14px;
}

.home-btn-offer box-icon {
    margin-left: 19px;
}

/*----------------------about section--------------------------------- */

.about{
    padding: 50px 30px ;
    background-color: #F5F6F8;
}

.about-business h4{
    font-family:'Manrope';
    display: flex;
    justify-content: center;
    font-size: 26px;
}
.about-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.about-logos img{
    height: 16%;
    width: 12%;
    margin-left: 20px;
}



/*-----------------CSS for about-statement ---------------- */

.about-statement{
    background-color: rgb(255, 255, 255);
    padding: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-statement-left h3{
    font-family:'Manrope';
    font-size: 46px;
}
.about-statement-left p{
    margin-top: 3vh;
    font-size: 16px;
}
.about-statement-right {
    display: flex;
    justify-content: center;
    margin-top: 12vh; 
}

.stat-box {
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: #C4C4C4;
    padding: 38px;
    position: relative; 
}
.stat-box p {
    color: black;

}

.quotes{
    position: absolute;
    top: -23px; 
    left: 16%; 
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    height: 50px; 
    width: 50px; 
    z-index: 100;
}

/*---------------------------------------------------------     */
.feature-cards {
    justify-content: space-around;
    display: flex;
    gap: 20px;
}

.info-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

    padding: 20px;
    text-align: center;
    width: 400px;
    height: 40vh;
}

.card-number {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    flex-direction: left;
}

.card-icon {
    width: 40px;
    height: 40px;
    margin: 10px auto;
    border-radius: 5px;
    background-size: cover;
}

#icon-1 {
    background-color: #000;
}

#icon-2 {
    background-color: #ff7f50;
}

#icon-3 {
    background-color: #ffd700;
}

h3 {
    font-size: 24px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    color: #777;
}


/* ----------------------------------------- */

.facilitites{
    justify-content: space-around;
    display: flex;
    padding: 40px;
    margin-right: 50px;
    margin-top: 40px;
    
}

.people-notifications img{
    height: 80%;
}
.some-benefits{
    padding: 40px;
}
.some-benefits hr{
    margin-top: 30px;
}
.some-benefits h3{
    font-size: 45px;
}
.additional-features li{
    margin-top: 6px;
    display: flex;
    list-style: none;
    align-items: center;
}

          /* ----------------------------------------- */

.choose-why{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 90px;
}
.choose-detail h6{
    color: blue;
    font-size: 14px;  
}

.choose-detail h2{
    font-family:'Manrope';
    font-size: 50px;
}
.choose-detail p{
    margin-top: 16px;
    font-size: 18;
    color: #505887;
}


.statement-box {
    color: black;
    margin-top: 40px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    background-color: #C4C4C4;
    padding: 20px;
    position: relative; 
}
.statement-box p{
    color: rgb(0, 0, 0);
    margin-top: 8px;
}
.Quotation {
    position: absolute;
    top: -21px; 
    left: 11%; 
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    height: 40px; 
    width: 40px; 
    z-index: 100;
}
.choose-box img{
    padding: 30px;
}


/* ----------------------- */
.feature-mind-blowing {
    background-color: #C9E7F2;
}

.feature-headings {
    padding: 60px;
}

.feature-headings h2 {
    font-family:'Manrope';
    font-size: 50px;
}
 
.feature-headings p {
    margin-left: 3px;
    margin-top: 22px;
    font-size: 14px;
    color: black;
}

.features-boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 89px 89px 89px ;
}

.feature-box {
    height: 40vh;
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 22px;
    padding: 25px;
    width: 24vw;
}

.feature-box h4 {
    margin-top: 25px;
}

.feature-box p {
    margin-top: 21px;
    color: black;
}

.feature-box img {
    height: 17%;
    width: 15%;
}

.sm-box {
    flex: 1;
    padding: 45px;
    background-color: #ffffff;
    margin-top: 23px;
    border-radius: 6px;
}



.feature-box .sm-box h4 {
    color: black;
}

.feature-box-new{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* -------------------------------------------------------- */

.testimonials-heading h3{
    font-family:'Manrope';
    font-size: 50px;
}
p{
    color: black;
}

.testimonials-heading{
    margin-left: 55px;
    padding: 60px;
}



.testimonials-info {
    padding: 30px;
    display: flex;
    justify-content: center; 
    gap: 120px;
}

.testimonials-quotes {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: #fff;
    position: relative;
}

.quote-image img {
    padding: 14px;
    height: auto;
    max-width: 140px; 
}

.quote-text {
    margin-top: 22px;
}

.quote-text h3 {
    font-size: 20px;
}

.quote-text p {
    margin-top: 10px;
    font-size: 16px;
    color: gray;
}



/*------------------Users Data---------------------------- */
.Our-Subscriber{
    margin-top: 8vh;
    background-color: #3734A9;
    display: flex;
    justify-content: space-around;
    align-items: center;
  

}
.Our-statistics p{
    color: white;
}
.Our-Subscriber h2{
    color: white;
    font-size: 50px;
}


.vertical-line {
    position: relative;
    border-left: 2px solid black; 
    height: 100px;
}

.subscriber-info{
    display: flex;
    margin-top: 8px;
}



.subscriber-info p{
    margin-left: 12px;
    color: white;
}

.subsciber-full-info{
    align-items: center;
    justify-content: space-around;
    display: flex;
    gap: 90px;
    margin-right: 9vw;
    padding: 30px;
    
}




/* ------------------Recent Blogs------------------------------- */
.title {
    font-family:'Manrope';
    padding: 30px;
    
    font-size: 71px;
    margin-top: 55px;
    margin-left: 80px;
}
.blogs {
    margin-top: 2rem;
    padding: 78px;
}
.blog-item {
    background: white;
    border-radius: 8px;
}
.blog-item-mini {
    height: 436px;
    width: 382px;
    background: white;
}
.blog-item img {
    width: 499px;
    height: 285px;
}
.blog-item-mini img {
    width: 382px;
    height: 202px;
}
.main-blog-main-text {
    padding: 30px;
}
.blog-item h3 {
    font-weight: 700;
    font-family: 'Manrope';
    font-size: 16px;
    color: #191919;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.blog-item-mini h3 {
    font-weight: 700;
    font-family: 'Manrope';
    font-size: 16px;
    color: #191919;
 
    text-transform: uppercase;
    letter-spacing: 1px;
}

.blog-item p {
    font-family: Manrope;
    font-weight: 700;
    line-height: 36px;
    font-size: 29px;
    color: #000;
    margin: 0 0 10px;
}
.blog-item-mini p {
    font-family: Manrope;
    font-weight: 700;
    line-height: 36px;
    font-size: 29px;
    color: #000;
    margin: 0 0 10px;
}

.read-more {
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
    margin-top: 3.5rem;
}
.main-blog {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.main-blog-text {
    padding: 30px;
 
}
.main-blog-mini-text {
    padding: 30px;
}
.blog-mini {
 padding-top: 2.5rem;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 gap: 25px;
}




/* --------------------Questions section------------------------------ */

h1{
    margin: 50px 0 30px;
    text-align: center;
}
.qtn-container{
    max-width: 600px;
}
.qtn h3{
    font-family: 'Manrope';
 
}
.qtn-text {
    color: black;
}
.qtn{
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}
.qtn.active{
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1) ;

}
.qtn.active::before, .qtn.active::after{
    color: #2ecc71;
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}
.qtn.active::before{
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(-180deg);
}

.qtn-title{
    margin: 0 35px 0 0;
}
.qtn-text{
    display: none;
    margin: 30px 0 0;
}
.qtn.active .qtn-text{
    display: block;
}

.qtn-toggle{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    
}



.question-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ask-questions box-icon{
    font-size: 30px;
}


.ask-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    height: 46vh;
    text-align: center;
}
.ask-questions h4{
    font-size: 24px;
    margin-top: 33px;
}
.ask-questions p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    text-align: center;
}
.button{
    width: 100%;
}
.button button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    background-color: #FF7F5C;
}







/* --------------------Get started now------------------------------ */
.full-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    height: 50vh;
    border-radius: 14px;
    background-color: blue;
}
.get-start-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.get-start-content h2{
    font-size: 42px;
    color: white;
}
.get-started-now{
    padding: 90px;
}
.get-start-button {
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF7F5C;
    width: 12vw;
    height: 7vh;
    border-radius: 6px;
}
.get-start-button a {
    color: white;
    text-decoration: none;
}

/* ------------------footer------------------------------- */

.footer{
    padding: 32px;
}
.footer-content {
    display: flex;
}


.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    padding: 30px;
}



.social-media a {
    margin-left: 6px;
}

.social-links ul li,
.resource-links ul li {
    list-style: none;
    margin-top: 9px;
}


.social-links ul li a,
.resource-links ul li a {
    text-decoration: none;
}

.subscription-btn {
    display: grid;
    grid-template-columns: auto 100px;
    width: 80%;
    height: 33px;
    margin-top: 1.2rem;
}
.social-media p{
    margin-top: 12px;
}
.social-media h4,
.social-links h4,
.resource-links h4,
.subscription h4{
    font-size: 20px;
}
.social-media-links{
    margin-top: 12px;
}
.social-media-links box-icon{
    margin-left: 7px;
}
.input-form {
    border: none;
    background-color: #3734A9;
    color: white;
}

.subscription p {
    margin-top: 17px;
}
.copyright{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}








